<footer>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse sint maiores quia, soluta repudiandae eos
        accusantium! Omnis exercitationem, corporis dolore necessitatibus, quam illo soluta tempora, illum rem id
        dolor quia?
    </p>

    
    <h2>Nuestras redes sociales</h2>
    
    <div class="redes-sociales">

        <div class="red">
            <button>
                <a href="https://www.facebook.com/" ></a>
                Facebook
            </button>
        </div>

        <div class="red">
            <button>Instagram</button>
        </div>

        <div class="red">
            <button>Twitter</button>
        </div>

        <div class="red">
            <button>Whatsapp</button>
        </div>

    </div>
</footer>