<footer>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse sint maiores quia, soluta repudiandae eos
        accusantium! Omnis exercitationem, corporis dolore necessitatibus, quam illo soluta tempora, illum rem id
        dolor quia?
    </p>


    <h2>Nuestras redes sociales</h2>

    <div class="redes-sociales">

        <button onclick="window.open('https://www.facebook.com/', '_blank');" class="social-btn">
            <i class="icon fab fa-facebook"></i>
        </button>

        <!-- Botón de Instagram -->
        <button onclick="window.open('https://www.instagram.com/', '_blank');" class="social-btn">
            <i class="icon fab fa-instagram"></i>
        </button>

        <!-- Botón de Twitter -->
        <button onclick="window.open('https://twitter.com/', '_blank');" class="social-btn">
            <i class="icon fab fa-twitter"></i>
        </button>

    </div>
</footer>