footer {
    background-color: #000;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 15px;

    .redes-sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

       
    }
}

.social-btn {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.icon {
    margin: 5px;
}