<footer>
    <div class="contactanos">
        <div class="num-telefonos">
            <h3>Contactanos</h3>
            <i class="icon fab fa-whatsapp"> 0963501941</i> <br>
            <i class="icon fab fa-whatsapp"> 0993998499</i> <br><br>

            <div class="nosotros">
                <h3>Sobre Nosotros</h3>
                <a href="">¿Quiénes somos?</a><br>
                <a href="">¿Cuáles son nuestros beneficios?</a><br>
                <a href="">Nuestra historia</a><br>
            </div>
        </div>

        <div class="redes-sociales">
            <h3>Nuestras Redes</h3>
            <div class="redes">
            <button onclick="window.open('https://www.facebook.com/', '_blank');" class="social-btn-facebook">
                <i class="icon fab fa-facebook"></i>
            </button>
    
            <!-- Botón de Instagram -->
            <button onclick="window.open('https://www.instagram.com/', '_blank');" class="social-btn-instagram">
                <i class="icon fab fa-instagram"></i>
            </button>
    
            <!-- Botón de Twitter -->
            <button onclick="window.open('https://twitter.com/', '_blank');" class="social-btn-twitter">
                <i class="icon fab fa-twitter"></i>
            </button>
            </div>
        </div>

        <div class="logo">
            <h3>Visita nuestra tienda</h3>
            <button [routerLink]="'/pages/productos'">Ir a la tienda</button>
            <h3>Ir a los clientes</h3>
            <button [routerLink]="'/pages/clientes'">Clientes</button>
        </div>

        <div class="compra">
            <h3>Compra con seguridad</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas pariatur explicabo maiores iusto dolores repudiandae quibusdam perspiciatis blanditiis facere? Voluptatum minima, praesentium doloremque odit ratione delectus a molestiae incidunt inventore.

        </div>
    </div>
</footer>