footer {
    .contactanos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: #fff;
        background-color: rgb(0, 0, 0);
        padding: 30px;
        padding-top: 50px;
        padding-block-end: 80px;
        margin-top: 20px;
    
        .num-telefonos {
            margin: 40px;

            .nosotros{
                a{
                    color: #d39aff;
                }
            }
        }
    
        .redes-sociales {
            display: grid;
            margin: 40px;
    
            h3 {
                text-align: center;
            }
    
            .redes {
                display: flex;
                justify-content: left;
                text-align: left;
                align-items: left;
    
                button {
                    padding: 10px;
                    margin: 5px;
                    border: 1px solid #000000;
                    background-color: rgb(0, 0, 0);
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
    
                    &:hover {
                        border: 1px solid rgb(206, 206, 206);
                        background-color: rgb(255, 255, 255);
                    }
                }
    
                .social-btn-facebook {
                    color: blue;
                }
    
                .social-btn-instagram {
                    color: red;
                }
    
                .social-btn-twitter {
                    color: rgb(0, 234, 255);
                }
            }
        }
    
        .logo {
            display: grid;
            margin: 40px;
            text-align: center;
    
            button {
                background-color: #5581fb;
                padding: 5px;
                border-radius: 10px;
                margin: 5px;
                width: 200px;
                color: #fff;
                border: 2px solid rgba(255, 255, 255, 0);
                cursor: pointer;
    
                &:hover{
                    border: 2px solid #5581fb;
                    background-color: #fff;
                    color: #5581fb;
                }
            }
        }

        .compra{
            width: 250px;
        }
    }
}

.social-btn {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.icon {
    margin: 5px;
}