<app-menu></app-menu>
<div class="contenedor-main">
    <header [ngClass]="{'fixed-header': isScrolled}" class="header-main">
        <div class="categorias">
            <div class="btns">
                <button (click)="mostrarCategoria('todos')">Mostrar todo</button>
                <button (click)="mostrarCategoria('ropa')">Ropa</button>
                <button (click)="mostrarCategoria('tecno')">Tecnología</button>
                <button (click)="mostrarCategoria('hogar')">Hogar</button>
                <button (click)="mostrarCategoria('gaming')">Gaming</button>
                <button (click)="mostrarCategoria('electr')">Electrodomésticos</button>
                <button (click)="mostrarCategoria('construc')">Construcción</button>

                <div class="buscar-contenedor">
                    <i class="fa fa-search">
                        <input type="text" #nombre><button class="buscador" (click)="buscar(nombre)">Buscar</button>
                    </i>
                </div>
            </div>
        </div>
    </header>

    <header [ngClass]="{'fixed-header': isScrolled}" class="header-sec">
        <div class="categorias">
            <div class="btns">
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="mostrarCategoria('todos')">Mostrar todo</button>
                    <button mat-menu-item (click)="mostrarCategoria('ropa')">Ropa</button>
                    <button mat-menu-item (click)="mostrarCategoria('tecno')">Tecnología</button>
                    <button mat-menu-item (click)="mostrarCategoria('hogar')">Hogar</button>
                    <button mat-menu-item (click)="mostrarCategoria('gaming')">Gaming</button>
                    <button mat-menu-item (click)="mostrarCategoria('electr')">Electrodomésticos</button>
                    <button mat-menu-item (click)="mostrarCategoria('construc')">Construcción</button>
                </mat-menu>

                <button mat-button [matMenuTriggerFor]="menu">Categorías</button>

                <div class="buscar-contenedor">
                    <i class="fa fa-search">
                        <input type="text" #nombree><button class="buscador" (click)="buscar(nombree)">Buscar</button>
                    </i>
                </div>
            </div>
        </div>
    </header>

    <div class="texto">
        <H2>¡El producto que necesitas está aquí!</H2>
        <p>
            Ofrecemos productos de toda necesidad para todos los gustos y colores. <br>
            Las categorías te ayudaran a encontrar lo que estás buscando de una manera más rápida
            y sencilla sin que tengas que perder tú valioso tiempo.
        </p>
    </div>

    <div class="contenedor-productos">
        <ul>
            <div class="contenedor-busqueda">
                <div class="condicion-result" *ngIf="mostrarResultados">
                    <div class="name-result">
                        <h2>Resultados de la busqueda</h2>
                    </div>
                    <div class="contenedor-listas">
                        <li class="productos" *ngFor="let pro of productosBusqueda">
                            <div class="contenedor-img">
                                <img src="{{pro.imagen}}" alt="">
                            </div>
                            <div class="contenedor-desc-btn">
                                <div class="producto-text">
    
                                    <h2>{{pro.nombre}}</h2>
                                    <h3>${{pro.precio}}</h3>
                                </div>
                                <div class="contanedor-btn">
                                    <button (click)="addAlCarrito(pro)">Agregar al carrito</button>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>

                <div class="contenedor-listas" *ngIf="mostrarProductos">
                    <li class="productos" *ngFor="let pro of productos | async">
                        <div class="contenedor-img">
                            <img src="{{pro.imagen}}" alt="">
                        </div>
                        <div class="contenedor-desc-btn">
                            <div class="producto-text">
                                <p>{{pro.descripcion}}</p>
                                <h2>{{pro.nombre}}</h2>
                                <h3>${{pro.precio}}</h3>
                            </div>
                            <div class="contanedor-btn">
                                <button (click)="addAlCarrito(pro)">Agregar al carrito</button>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <app-footer></app-footer>
</div>