<app-menu></app-menu>
<div class="contenedor-main">
    <header [ngClass]="{'fixed-header': isScrolled}" class="header-main">
        <div class="categorias">
            <div class="btns">
                <button (click)="mostrarCategoria('todos')">Mostrar todo</button>
                <button (click)="mostrarCategoria('ropa')">Ropa</button>
                <button (click)="mostrarCategoria('tecno')">Tecnología</button>
                <button (click)="mostrarCategoria('hogar')">Hogar</button>
                <button (click)="mostrarCategoria('gaming')">Gaming</button>
                <button (click)="mostrarCategoria('electr')">Electrodomésticos</button>
                <button (click)="mostrarCategoria('construc')">Construcción</button>

                <div class="buscar-contenedor">
                    <i class="fa fa-search">
                        <input type="text"><button class="buscador">Buscar</button>
                    </i>
                </div>
            </div>
        </div>
    </header>

    <header [ngClass]="{'fixed-header': isScrolled}" class="header-sec">
        <div class="categorias">
            <div class="btns">
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="mostrarCategoria('todos')">Mostrar todo</button>
                    <button mat-menu-item (click)="mostrarCategoria('ropa')">Ropa</button>
                    <button mat-menu-item (click)="mostrarCategoria('tecno')">Tecnología</button>
                    <button mat-menu-item (click)="mostrarCategoria('hogar')">Hogar</button>
                    <button mat-menu-item (click)="mostrarCategoria('gaming')">Gaming</button>
                    <button mat-menu-item (click)="mostrarCategoria('electr')">Electrodomésticos</button>
                    <button mat-menu-item (click)="mostrarCategoria('construc')">Construcción</button>
                </mat-menu>

                <button mat-button [matMenuTriggerFor]="menu">Categorías</button>

                <div class="buscar-contenedor">
                    <i class="fa fa-search">
                        <input type="text"><button class="buscador">Buscar</button>
                    </i>
                </div>
            </div>
        </div>
    </header>

    <div class="texto">
        <H2>¡El producto que necesitas está aquí!</H2>
        <p>
            Ofrecemos productos de toda necesidad para todos los gustos y colores. <br>
            Las categorías te ayudaran a encontrar lo que estás buscando de una manera más rápida 
            y sencilla sin que tengas que perder tú valioso tiempo.
        </p>
    </div>

    <div class="contenedor-productos">
        <ul>
            <div class="contenedor-listas">
                <li class="productos" *ngFor="let pro of productos | async">
                    <img src="{{pro.imagen}}" alt="">
                    <div class="producto-text">
                        <p>{{pro.descripcion}}</p>
                        <h2>{{pro.nombre}}</h2>
                        <h3>${{pro.precio}}</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
            </div>
        </ul>
    </div>

    <!--div *ngIf="categoriaSeleccionada === 'todos' || categoriaSeleccionada === 'ropa'" class="contenedor-productos">
        <ul>
            <div class="contenedor-listas">
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/06/a7/a9/06a7a95fb792ce3dfd55b792547cb76a.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/06/a7/a9/06a7a95fb792ce3dfd55b792547cb76a.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/06/a7/a9/06a7a95fb792ce3dfd55b792547cb76a.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/06/a7/a9/06a7a95fb792ce3dfd55b792547cb76a.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/06/a7/a9/06a7a95fb792ce3dfd55b792547cb76a.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/06/a7/a9/06a7a95fb792ce3dfd55b792547cb76a.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
            </div>
        </ul>
    </!--div>

    <div *ngIf="categoriaSeleccionada === 'todos' || categoriaSeleccionada === 'tecno'" class="contenedor-productos">
        <ul>
            <div class="contenedor-listas">
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/4d/ce/e9/4dcee96ffd48ebfdf73ef5dd74d32574.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
            </div>
        </ul>
    </div>

    <div *ngIf="categoriaSeleccionada === 'todos' || categoriaSeleccionada === 'hogar'" class="contenedor-productos">
        <ul>
            <div class="contenedor-listas">
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/d1/b6/9e/d1b69e9389f12703b6bebbbdc5d5224e.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/d1/b6/9e/d1b69e9389f12703b6bebbbdc5d5224e.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/d1/b6/9e/d1b69e9389f12703b6bebbbdc5d5224e.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/d1/b6/9e/d1b69e9389f12703b6bebbbdc5d5224e.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/d1/b6/9e/d1b69e9389f12703b6bebbbdc5d5224e.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/d1/b6/9e/d1b69e9389f12703b6bebbbdc5d5224e.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
            </div>
        </ul>
    </div>

    <div *ngIf="categoriaSeleccionada === 'todos' || categoriaSeleccionada === 'gaming'" class="contenedor-productos">
        <ul>
            <div class="contenedor-listas">
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
            </div>
        </ul>
    </div>

    <div-- *ngIf="categoriaSeleccionada === 'todos' || categoriaSeleccionada === 'electr'" class="contenedor-productos">
        <ul>
            <div class="contenedor-listas">
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>

                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
                <li class="productos">
                    <img src="https://i.pinimg.com/564x/ff/b1/9d/ffb19d9a01d3778fd1be745a49b25779.jpg" alt="">
                    <div class="producto-text">
                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas
                            importantes
                        </p>
                        <h2>Mouse Gamer</h2>
                        <h3>$19.99</h3>
                    </div>
                    <button>Agregar al carrito</button>
                </li>
            </div>
        </ul>
    </div-->
    <app-footer></app-footer>
</div>