<div class="contenedor-main">
    <app-menu></app-menu>

    <div class="contenedor-categorias">
        <div class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam velit numquam consequatur molestias distinctio
            natus similique temporibus dicta nihil accusantium tenetur veritatis inventore nisi labore, laborum earum
            autem eos laboriosam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum saepe reprehenderit culpa autem nam nulla,
            earum, fugit eos deleniti velit ipsum corrupti laudantium excepturi doloribus dolorum voluptatibus
            blanditiis perspiciatis consectetur.
        </div>
        <div class="componentes-categorias">
            <div class="categorias">
                <div class="btns">
                    <button>Ropa</button>
                    <button>Tecnología</button>
                    <button>Hogar</button>
                    <button>Gaming</button>
                    <button>Electrodomésticos</button>
                    <input type="text"><button class="buscador">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-productos">
        <div class="productos">
            <div class="producto-margen">
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <div class="producto-text">
                    <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                    <h2>Mouse Gamer</h2>
                    <h3>$19.99</h3>
                </div>
            </div>
            <button>Agregar al carrito</button>
        </div>

        <div class="productos">
            <div class="producto-margen">
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <div class="producto-text">
                    <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                    <h2>Mouse Gamer</h2>
                    <h3>$19.99</h3>
                </div>
            </div>
            <button>Agregar al carrito</button>
        </div>
        <div class="productos">
            <div class="producto-margen">
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <div class="producto-text">
                    <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                    <h2>Mouse Gamer</h2>
                    <h3>$19.99</h3>
                </div>
            </div>
            <button>Agregar al carrito</button>
        </div>
    </div>

    <app-footer></app-footer>
</div>