//Estilo para el css
.contenedor-detalles {
    margin: 50px;
    margin-top: 5px;
    margin-block-end: 20px;

    .productos {
        display: flex;
        border-radius: 10px;
        padding: 20px;
        width: auto;
        height: auto;
        justify-content: center;
        text-align: left;

        .contenedor-img {
            h2 {
                padding: 10px;
            }

            img {
                width: 400px;
                height: auto;
                border-radius: 10px;
            }
        }

        .contenedor-caracteristicas-descripcion {
            width: auto;
            height: auto;
            padding: 10px;
            margin: 20px;
            margin-top: 40px;
        }

        .producto-venta-info {
            border-radius: 10px;
            background-color: #f3f3f3;
            width: 500px;
            height: 385px;
            justify-content: center;
            align-items: center;

            margin-top: 50px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;

            .contenedor-cantidad {
                align-items: center;
                justify-content: center;
                background-color: #f0f0f0;
                border-radius: 5px;
                border: 1px solid #ccc;
                max-width: 70px;
                margin: auto;

                .btn-cantidad {
                    border: none;
                    background: none;
                    font-size: 20px;
                    cursor: pointer;
                }

                span {
                    margin: 0 10px;
                }
            }

            .btn-add-carrito {
                background-color: #000000;
                padding: 5px;
                border-radius: 10px;
                margin: 5px;
                width: 140px;
                color: #fff;
                border: 2px solid #000000;
                cursor: pointer;

                &:hover {
                    border: 2px solid #000000;
                    background-color: #fff;
                    color: #000000;
                }
            }
        }

        .producto-venta-info .contenedor-btn {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .contenedor-mensaje {
        background-color: #ffcfcf;
        border: 1px solid #ffa7a7;
        text-align: center;
        border-radius: 5px;

        h4 {
            color: #ff4545;
            justify-content: center;
            text-align: center;
            align-items: center;
            button {
                background-color: #ffffff;
                border: 0;
                padding: 3px;
                margin: 2px;
                color: #464646;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .contenedor-detalles {
        margin: 10px;
        justify-content: center;
        text-align: center;

        .productos {
            display: grid;
            margin: 0px;

            .contenedor-caracteristicas-descripcion {
                margin: 20px;
                padding: 0;
            }

            .producto-venta-info {
                width: auto;
            }
        }
    }
}

@media (max-width: 600px) {
    .contenedor-detalles {
        margin: 5px;

        .productos {

            .contenedor-img {
                h2 {
                    padding: 10px;
                }

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }
            }

            .contenedor-caracteristicas-descripcion {
                margin: 0;
                margin-top: 20px;
                margin-block-end: 20px;
                padding: 0;
            }

            .producto-venta-info {
                margin: 0;
                padding: 5px;
            }
        }
    }
}