<div class="contenedor-main">

    <app-menu></app-menu>

    <div class="contenedor-form">

        <div class="text">
            <h3>¿Aún no tienes una cuenta? <br></h3>

            Se parte de nuestra familia, donde cientos de personas han conseguido una sonrisa
        </div>

        <form action="" *ngIf="mostrarFormularioEstatico">

            
            <h2>Registrarse</h2>

            <div class="info">

                
                <label for="">Ingrese su nombre</label><br>
                <input type="text" placeholder="Ingrese su nombre" name="nombre" [(ngModel)]="us.nombre"><br>

                <label for="">Ingrese su apellido</label><br>
                <input type="text" placeholder="Ingrese su apellido" name="apellido" [(ngModel)]="us.apellido"><br>

                <label for="">Ingrese su cedula</label><br>
                <input type="text" placeholder="Ingrese npmsu cedula" name="cedula" [(ngModel)]="us.cedula"><br>

                <label for="">Ingrese su correo electrónico</label><br>
                <input type="text" placeholder="Ingrese su correo electronico"  name="correo" [(ngModel)]="us.correo"><br>

                <label for="">Ingrese su contraseña</label><br>
                <input type="password" placeholder="Minimo  8 caracteres" name="password" [(ngModel)]="us.password"><br>

                <label for="">Confirme su contraseña</label><br>
                <input type="password" placeholder="Confirmar contraseña" name="confirmPassword" [(ngModel)]="us.confirmPassword"><br>

                <button (click)="guardar()" >Aceptar</button>

                <div class="cuenta-existente">
                    ¿Ya tienes una cuenta? 
                    <button class="btn-login" (click)="login()">Iniciar Sesion</button>
                </div>
                
            </div>
        </form>

        <form action="" *ngIf="mostrarFormulario">
            <h2>Iniciar Sesión</h2>
            <div class="info">
                <label for="">Ingrese su correo electrónico</label><br>
                <input type="text" placeholder="correo" name="correo" [(ngModel)]="credenciales.correo"><br>
        
                <label for="">Ingrese su contraseña</label><br>
                <input type="password" placeholder="contraseña" name="contrasena" [(ngModel)]="credenciales.password"><br>
        
                <button type="submit" (click)="iniciarSesion()">Aceptar</button>
            </div>
        </form>
        <div *ngIf="usuarioLogeado">
            <h2>Datos del usuario</h2>
            <p>Nombre: {{ usuarioLogeado.nombre }}</p>
            <p>Apellido: {{ usuarioLogeado.apellido }}</p>
            <p>Cedula: {{usuarioLogeado.cedula}}</p>
            <p>Correo electrónico: {{ usuarioLogeado.correo }}</p>
            <!-- Agrega más campos según la estructura de tu objeto User -->
          </div>
          <app-footer></app-footer>
    </div>