.contenedor-info {
    padding: 100px;
    padding-top: 20px;
    padding-block-end: 30px;
    background-color: #fff1cf;
}

.image-nosotros {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: auto;
    height: auto;

    img {
        border-radius: 10px;
    }
}

.beneficios {
    margin-top: 20px;
    padding: 100px;
    padding-top: 0px;
    padding-block-end: 30px;
    justify-content: center;
}

.historia {
    padding: 100px;
    padding-top: 20px;
    padding-block-end: 30px;
    background-color: #f1d7ff;
}

@media (max-width: 700px) {
    .image-nosotros {
        img {
            width: 500px;
        }
    }

    .contenedor-info {
        padding: 40px;
    }

    .beneficios {
        padding: 40px;
    }

    .historia {
        padding: 40px;
    }
}

@media (max-width: 600px) {
    .image-nosotros {
        img {
            width: 400px;
        }
    }
}

@media (max-width: 500px) {
    .image-nosotros {
        img {
            width: 320px;
        }
    }
}