.contenedor-principal{
    margin-left: 300px;
    margin-right: 300px;
}

.contenedor-info {
    padding: 100px;
    padding-top: 20px;
    padding-block-end: 30px;
}

.image-nosotros {
    display: flex;
    justify-content: center;
    padding: 20px;

    img {
        border-radius: 10px;
    }
}

.beneficios {
    padding: 100px;
    padding-top: 0px;
    padding-block-end: 30px;
    justify-content: center;
}

.historia {
    padding: 100px;
    padding-top: 0px;
    padding-block-end: 30px;
}