<div class="contenedor-principal">
    <app-menu></app-menu>

    <div class="contenedor-info">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum totam enim nobis consequuntur. Numquam neque explicabo quam sequi similique minima ab, harum ipsum iusto placeat quaerat nulla amet, dolore ipsa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, vel fuga officia, ex illum quidem rerum, tempora nihil consequuntur nisi neque labore qui voluptates? Placeat dolores aspernatur delectus aliquam perspiciatis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nesciunt, nobis tenetur possimus optio quis omnis necessitatibus sequi vitae ex sapiente quisquam perspiciatis? Quisquam dolorem in aut laudantium quaerat consequuntur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, facere autem sapiente illo iure dolore qui magni modi repudiandae molestias dignissimos non blanditiis dicta! Quia ea eligendi labore et! Consequatur?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laudantium magni aperiam inventore quasi quibusdam est ipsam delectus, dignissimos amet quod harum alias repellat blanditiis maxime! Error omnis molestias beatae.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci eius et commodi architecto aliquid nesciunt sint placeat nam recusandae assumenda mollitia, ipsa tempore inventore autem nihil. Quod, tempora officiis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, consectetur delectus cupiditate quidem natus dignissimos? Animi ex dolorem aliquam, numquam esse recusandae reiciendis, quia quibusdam aut nam at. Alias, quos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ex, velit minus distinctio molestiae impedit amet vitae! Atque facere reprehenderit id quis autem voluptates rem iste, quae dolores, voluptatum eius.
    </div>
    
    <div class="contactos">
        
    </div>
</div>