<div class="contenedor-principal">
    <app-menu></app-menu>

    <div class="image-nosotros">
        <img src="https://i.pinimg.com/564x/7d/4d/1b/7d4d1b0562b136a3b53475e1affc3b34.jpg" alt="">
    </div>

    <div class="contenedor-info">
        <h2>¿Quiénes somos?</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum totam enim nobis consequuntur. Numquam neque
        explicabo quam sequi similique minima ab, harum ipsum iusto placeat quaerat nulla amet, dolore ipsa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, vel fuga officia, ex illum quidem rerum,
        tempora nihil consequuntur nisi neque labore qui voluptates? Placeat dolores aspernatur delectus aliquam
        perspiciatis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nesciunt, nobis tenetur possimus optio quis omnis
        necessitatibus sequi vitae ex sapiente quisquam perspiciatis? Quisquam dolorem in aut laudantium quaerat
        consequuntur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, facere autem sapiente illo iure dolore qui
        magni modi repudiandae molestias dignissimos non blanditiis dicta! Quia ea eligendi labore et! Consequatur?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laudantium magni aperiam inventore quasi
        quibusdam est ipsam delectus, dignissimos amet quod harum alias repellat blanditiis maxime! Error omnis
        molestias beatae.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci eius et commodi architecto aliquid
        nesciunt sint placeat nam recusandae assumenda mollitia, ipsa tempore inventore autem nihil. Quod, tempora
        officiis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, consectetur delectus cupiditate quidem natus
        dignissimos? Animi ex dolorem aliquam, numquam esse recusandae reiciendis, quia quibusdam aut nam at. Alias,
        quos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ex, velit minus distinctio molestiae impedit
        amet vitae! Atque facere reprehenderit id quis autem voluptates rem iste, quae dolores, voluptatum eius.
    </div>

    <div class="beneficios">
        <h2>¿Cuáles son nuestros beneficios?</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum neque qui, reprehenderit excepturi quo voluptas dolor facilis eum tempora dolore sit dicta illum? Totam perspiciatis eos aperiam pariatur adipisci est!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deleniti consequuntur ea quidem molestias unde! Magnam, maxime eum? Nesciunt aperiam cumque molestias. Dolor, quae. Ex dolorem recusandae numquam voluptas impedit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat totam architecto at. Dolore itaque, provident sequi aut in deleniti voluptatum distinctio numquam tenetur libero dicta nam, maxime ducimus. Rerum, reiciendis?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo tempore debitis illo fuga, possimus obcaecati qui cumque exercitationem, mollitia aliquid quisquam ipsum perferendis, consequatur quos consectetur hic repudiandae. Omnis, architecto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, rem quidem ex autem ea delectus possimus fugit iure pariatur eveniet temporibus, totam porro voluptas deleniti ducimus. Optio voluptatum unde ipsum.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, praesentium sunt. Unde sunt cumque minima quasi nihil earum laboriosam inventore, dicta eligendi fuga quis sit velit exercitationem, nemo temporibus eveniet.
    </div>

    <div class="historia">
        <h2>Nuestra historia</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti commodi, a alias odit blanditiis recusandae et nisi aut laborum dicta officia cumque autem architecto nemo eligendi tempore veritatis repellendus provident.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusamus quasi ut deleniti eaque illo saepe at. Beatae eligendi tempora pariatur, nemo repellat facilis, amet aliquid totam dolore consectetur dolores.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita placeat ipsum incidunt omnis deserunt? Ipsum accusamus numquam repellat odio inventore? Inventore optio laborum repudiandae aliquam ullam corporis sunt, ducimus suscipit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates tempore accusamus. Consequatur eius velit dolore, sequi repellat perspiciatis eveniet consequuntur quaerat repudiandae. Repellendus doloribus neque minus maiores natus magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio asperiores, ratione a commodi ipsum cumque ad molestias. Animi libero labore necessitatibus enim. Sapiente ipsum labore magnam velit porro! Repudiandae, maiores.
    </div>

    <div class="contactanos">
        <div class="num-telefonos">
            <h3>Contactanos</h3>
            <i class="icon fab fa-whatsapp"></i> 0963501941
        </div>

        <div class="redes-sociales">
            <h3>Nuestras Redes</h3>
            <div class="redes">
            <button onclick="window.open('https://www.facebook.com/', '_blank');" class="social-btn-facebook">
                <i class="icon fab fa-facebook"></i>
            </button>
    
            <!-- Botón de Instagram -->
            <button onclick="window.open('https://www.instagram.com/', '_blank');" class="social-btn-instagram">
                <i class="icon fab fa-instagram"></i>
            </button>
    
            <!-- Botón de Twitter -->
            <button onclick="window.open('https://twitter.com/', '_blank');" class="social-btn-twitter">
                <i class="icon fab fa-twitter"></i>
            </button>
            </div>
        </div>

        <div class="logo">
            <h3>Visita nuestra tienda</h3>
            <button [routerLink]="'/pages/productos'">Ir a la tienda</button>
        </div>
    </div>
</div>