<app-menu></app-menu>
<div class="container-main">
    <header class="hero">
        <h2>
            Disfruta de nuetras ofertas.
        </h2>
        <p>
            <br><br>
            Échale un vistazo a nuestros productos.
            <br>
            Y encuentra el que estés buscando.
            <br><br>
            <button (click)="irAproductos()">Ver más </button><i class="fas fa-arrow-right"></i>
        </p>
    </header>

    <div class="presentacion-productos">
        <div class="contenedor-productos">
            <div class="scroll-container">
                <button (click)="scroll(-1)" class="scroll-btn"><</button>
                <div #productContainer class="product-container">
                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="product-item">
                        <ul>
                            <div class="contenedor-listas">
                                <li class="productos">
                                    <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg"
                                        alt="">
                                    <div class="producto-text">
                                        <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas
                                            mas importantes
                                        </p>
                                        <h2>Mouse Gamer</h2>
                                        <h3>$19.99</h3>
                                    </div>
                                    <button>Agregar al carrito</button>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <button (click)="scroll(1)" class="scroll-btn">></button>
            </div>

            <div class="contenedor-categorias">
                <div class="info">
                    <h1>Tenemos algunas categorías para ti</h1>
                    <div class="texto">
                        Nuestra tienda tiene mucho que ofrecer.
                        <br>
                        Las categorias que tenemos para ti son
                        <h3>Ropa</h3>
                        <h3>Tecnología</h3>
                        <h3>Hogar</h3>
                        <h3>Gaming</h3>
                        <h3>Electrodomésticos</h3>
                        <h3>Construcción</h3>
                    </div>
                </div>

                <div class="categoria">
                    <button (click)="irAproductos()">
                        <h2>¡Ir a ello!</h2>
                    </button>
                </div>
            </div>

            <app-footer></app-footer>

        </div>