<app-menu></app-menu>
<div class="container-main">
    <header class="hero">
        <h2>
            Disfruta de nuetras ofertas.
        </h2>
        <p>
            <br><br>
            Échale un vistazo a nuestros productos. 
            <br>
            Y encuentra el que estés buscando.
            <br><br>
            <button (click)="irAproductos()">Visitar</button>
        </p>
    </header>

    <div class="presentacion-productos">
        <div class="productos">
            <button>
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                <h2>Mouse Gamer</h2>
                <h3>$19.99</h3>
            </button>
        </div>

        <div class="productos">
            <button>
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                <h2>Mouse Gamer</h2>
                <h3>$19.99</h3>
            </button>
        </div>
        <div class="productos">
            <button>
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                <h2>Mouse Gamer</h2>
                <h3>$19.99</h3>
            </button>
        </div>

        <div class="productos">
            <button>
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                <h2>Mouse Gamer</h2>
                <h3>$19.99</h3>
            </button>
        </div>

        <div class="productos">
            <button>
                <img src="https://i.pinimg.com/564x/61/e9/af/61e9af49bdc604b7d5d2b19832e34cea.jpg" alt="">
                <p>Descripcion sobre este producto. Describir su modelo y sus caracteristicas mas importantes</p>
                <h2>Mouse Gamer</h2>
                <h3>$19.99</h3>
            </button>

        </div>
    </div>

    <!--div class="input-products">
        <form action="">
            <label for="">Nombre:</label>
            <input type="text" #name>
            <br>

            <label for="">Descripcion: </label>
            <textarea name="" id="" cols="30" rows="10" #description></textarea>
            <br>

            <label for="">Precio</label>
            <input type="number" name="" id="" #price>
            <br><br>

            <label for="">Ingrese un enlace de su imagen: </label>
            <input type="text" name="" id="" #urlImage>

            <button class="btn-guardar" (click)="saveProduct(description, name, price, urlImage)">Guardar</button>
            <br><br>
        </form>
    </div-->


    <div class="contenedor-categorias">
        <h1>Tenemos algunas categorías para ti</h1>
        <div class="categoria">

            <button (click)="irAproductos()">
                <h2>Tecnología</h2>
            </button>
        </div>

        <div class="categoria">
            <button (click)="irAproductos()">
                <h2>Electrodomésticos</h2>
            </button>
        </div>

        <div class="categoria">
            <button (click)="irAproductos()">
                <h2>Hogar</h2>
            </button>
        </div>

        <div class="categoria">
            <button (click)="irAproductos()">
                <h2>Gaming</h2>
            </button>
        </div>
    </div>

    <app-footer></app-footer>

</div>