<div class="contenedor-main">

    <app-menu></app-menu>

    <div class="contenedor-form" *ngIf="formulario">

        <div class="text">
            <h3>Bienvenido<br></h3>

            Inicia sesión para obtener todos los beneficios disponibles
        </div>

        <form action="" [formGroup]="loginForm" (ngSubmit)="login()">

            <h2>Iniciar Sesión</h2>

            <div class="info">

                <label for="">Ingrese su correo electrónico</label><br>
                <input type="email" formControlName="correo" placeholder="correo" #correo><br>

                <label for="">Ingrese su contraseña</label><br>
                <input type="password" formControlName="contrasenia" placeholder="contraseña" #contrasenia><br>

                <button type="submit">Aceptar</button>

                <div class="cuenta-existente">
                    ¿Aún no estás registrado?
                    <button class="btn-login" (click)="registrarse()">Registrarse</button>
                </div>

                <div class="ocurrioUnError" *ngIf="ocurrioUnError">
                    <h4>Sus credendiales no coinciden</h4>
                </div>
            </div>
        </form>
    </div>

    <div class="contenedor-info-user" *ngIf="mostrarUsuario">

        

    </div>

    <app-footer></app-footer>
</div>