<div class="contenedor-main">

    <app-menu></app-menu>

    <div class="contenedor-form" *ngIf="mostrarFormulario">

        <div class="text">
            <h3>¿Aún no tienes una cuenta? <br></h3>

            Se parte de nuestra familia, donde cientos de personas han conseguido una sonrisa
        </div>

        <form action="" [formGroup]="loginForm" (ngSubmit)="login()">

            <h2>Iniciar Sesión</h2>

            <div class="info">

                <label for="">Ingrese su correo electrónico</label><br>
                <input type="email" formControlName="correo" placeholder="correo" #correo><br>

                <label for="">Ingrese su contraseña</label><br>
                <input type="password" formControlName="contrasenia" placeholder="contraseña" #contrasenia><br>

                <button type="submit">Aceptar</button>

                <div class="cuenta-existente">
                    ¿Aún no estás registrado?
                    <button class="btn-login" (click)="registrarse()">Registrarse</button>
                </div>

                <div class="ocurrioUnError" *ngIf="ocurrioUnError">
                    <h4>Sus credendiales no coinciden</h4>
                </div>
            </div>
        </form>
    </div>

    <div class="contenedor-info-user" *ngIf="mostrarinfo">
        <div class="contenedor-datos">
            <ul >
                <div>Nombre: {{usuarioLogueado.nombre}} {{usuarioLogueado.apellido}}</div>
                <div>Correo: {{usuarioLogueado.correo}}</div>
                <div>Cedula: {{usuarioLogueado.cedula}}</div>
                <div></div>
            </ul>
        </div>

        <div class="contenedor-texto">

        </div>

        <div class="contenedor-img">
            <div class="contenedor">
                <img src="https://i.pinimg.com/564x/6c/bb/9b/6cbb9bf84a9565337be26272e3cf08e9.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, eveniet? Eos pariatur rerum asperiores soluta? Cum eligendi officia alias totam voluptatem earum ut ipsam! Repellendus minima soluta officiis labore iste?</p>
            </div>

            <div class="contenedor">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto laboriosam fugit, commodi, asperiores illo ipsam voluptatum debitis quidem illum nihil quo provident nemo eaque numquam earum facilis nesciunt eos aliquid.</p>
                <img src="https://i.pinimg.com/564x/90/fe/3b/90fe3b57b4a942c98c383eab189eb751.jpg" alt="">
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>