//Estilo CSS del componente
.contenedor-metodo-pago {
    margin: 60px;
    border: 1px solid;
    border-radius: 5px;
}

.contenedor-title {
    display: grid;
    align-items: center;
    background-color: #000;
    margin-top: 0px;
    color: #fff;
    text-align: center;

}

.contenedor-info {
    display: flex;
    margin: 40px;

    .contenedor-form {
        display: grid;
        padding-left: 40px;
        padding-right: 40px;
        width: 50%;

        form {
            display: grid;
            width: auto;

            input {
                border-radius: 5px;
                border: 1px solid #c6c6c6;
                outline: #b3b3b3;
                padding: 5px;
                width: 100%;

                &:hover {
                    border: 1px solid #a7a7a7;
                }
            }

            .form-grupo,
            .contenedor-secundario-form {
                margin-bottom: 10px;
            }

            .contenedor-secundario-form {
                display: flex;
                justify-content: space-between;

                .form-grupo {

                    label {
                        display: block;
                        margin-bottom: 5px;
                    }

                    input {
                        border-radius: 5px;
                        border: 1px solid #c6c6c6;
                        outline: none;
                        padding: 5px;
                        width: 100%;
                    }
                }

            }
        }
    }

    .contenedor-datos {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
        height: auto;

    }

}

.contenedor-metodo-pago {
    text-align: center;

    button {
        background-color: #000000;
        border-radius: 10px;
        margin: 5px;
        width: 200px;
        height: 30px;
        color: #fff;
        border: 2px solid rgb(255, 255, 255);
        cursor: pointer;

        &:hover {
            border: 2px solid #000000;
            background-color: #fff;
            color: #000000;
        }
    }

    
    .contenedor-mensajes {
        background-color: #ffcfcf;
        border: 1px solid #ffa7a7;
        text-align: center;
        border-radius: 5px;

        h4 {
            color: #ff4545;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }
}

@media (max-width: 1100px) {
    .contenedor-metodo-pago {
        margin: 15px;

        .contenedor-info {
            display: grid;
            align-items: center;
            width: auto;
            margin: 15px;

            .contenedor-form {
                margin: 0px;
                width: auto;


            }

            .contenedor-datos {
                width: auto;
                height: auto;
            }
        }
    }
}

@media (max-width: 500px) {
    .contenedor-metodo-pago {
        margin: 0;
        border: 0;

        .contenedor-info {
            margin-top: 15px;

            .contenedor-form {
                padding: 0;
                width: auto;
                justify-content: center;
                align-items: center;
                text-align: center;

                input {
                    width: 250px;
                }

                .contenedor-secundario-form {
                    display: grid;

                    .form-grupo {
                        input {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
}