<div class="container-main">
    <app-menu></app-menu>

    <div class="contenedor-metodo-pago">
        <div class="contenedor-title">
            <h3>Información para el pago</h3>
        </div>
        <div class="contenedor-info">
            <div class="contenedor-form">
                <form action="">
                    <td><label for="">Nombre de la tarjeta</label></td>
                    <td><input type="text" name="nombreTarjeta" id="nombreTarjeta" placeholder="Nombre "></td>

                    <td><label for="">Número de la tarjeta</label></td>
                    <td><input type="number" name="numeroTarjeta" id="numeroTarjeta" placeholder="1234 5678 9012 3456"></td>

                    <div class="contenedor-secundario-form">
                        <div class="form-grupo">
                            <label for="">Fecha de vencimiento</label>
                            <input type="text" name="fechaVencimiento" id="fechaVencimiento" placeholder="MM/AA">
                        </div>

                        <div class="form-grupo">
                            <label for="">Código de seguridad</label>
                            <input type="number" name="codigoSeguridad" id="codigoSeguridad" placeholder="123">
                        </div>
                    </div>
                    
                    <button type="button" (click)="continuar()">Continuar</button>
                </form>
            </div>
            <div class="contenedor-datos">

            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
