<div class="container-main">
    <app-menu></app-menu>
    <div class="contenedor-atributos">
        <div class="contenedor-title">
            <h3>Por favor. Ingrese sus datos personales para continuar con su compra</h3>
        </div>
        <div class="contenedor-info">
            <div class="contenedor-form">
                <form action="">
                    <h3>Datos personales</h3>
                    <label for="cedula">Ingrese su número de cédula</label>
                    <input type="text" name="cedula" id="cedula" [(ngModel)]="cedula" placeholder="cédula">
                  
                    <label for="nombre">Ingrese su nombre</label>
                    <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre" placeholder="nombre">
                  
                    <label for="correo">Ingrese su correo electrónico</label>
                    <input type="text" name="correo" id="correo" [(ngModel)]="correo" placeholder="correo">
                  
                    <label for="contrasenia">Ingrese la contraseña</label>
                    <input type="password" name="contrasenia" id="contrasenia" [(ngModel)]="contrasenia" placeholder="contraseña">
                  
                    <button (click)="continuar()">Continuar</button>
                  </form>
            </div>
            <div class="contenedor-datos">
                <div class="contenedor-productos" *ngFor="let det of productos | async">
                    <div><b>{{det.nombreProducto}}</b></div>
                    <div>Cantidad: {{det.cantidad}}</div>
                    <div>Subtotal: ${{det.subtotal}}</div>
                    <div>Total: ${{det.total}}</div>
                </div>
            </div>
        </div>
        <div class="pago-final"><b>Valor a pagar: </b></div>
    </div>

    <button (click)="confirmAction()" *ngIf="regresar">Regresar</button>

</div>

<app-footer></app-footer>