// Estilo CSS para el componente
.contenedor-atributos {
    margin: 60px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;

    .pago-final {
        padding-block-end: 10px;
    }
}

.contenedor-title {
    display: grid;
    align-items: center;
    background-color: #000;
    margin-top: 0px;
    color: #fff;
    text-align: center;
    width: auto;
}

.contenedor-info {
    display: flex;
    margin: 20px;

    .contenedor-form {
        display: grid;
        margin-right: 60px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            .contenedor-inputs {
                display: grid;
                width: auto;

                input {
                    border-radius: 5px;
                    border: 1px solid #c6c6c6;
                    outline: #b3b3b3;
                    padding: 5px;
                    width: 100%;

                    &:hover {
                        border: 1px solid #a7a7a7;
                    }
                }
            }

            .contenedor-info {
                border: 1px solid #000000;
                display: grid;
                border-radius: 5px;
                padding: 20px;
            }

        }

        .contenedor-mensajes {
            background-color: #ffcfcf;
            border: 1px solid #ffa7a7;
            text-align: center;
            border-radius: 5px;

            h4 {
                color: #ff4545;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
        }
    }


    .contenedor-datos {
        display: grid;
        width: auto;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 20px;
    }


}

button {
    background-color: #000000;
    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 30px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;

    &:hover {
        border: 2px solid #000000;
        background-color: #fff;
        color: #000000;
    }
}

.return {
    background-color: #555555;
    border-radius: 10px;
    margin: 5px;
    width: 80px;
    color: #fff;
    border: 2px solid #555555;
    cursor: pointer;

    &:hover {
        border: 2px solid #555555;
        background-color: #fff;
        color: #555555;
    }
}

@media (max-width: 1000px) {
    .contenedor-atributos {
        margin: 15px;
        display: grid;

        .contenedor-info {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: auto;
            margin: 10px;

            .contenedor-form {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0px;
                width: auto;

                form {
                    display: grid;
                }
            }

            .contenedor-datos {
                width: auto;
                padding: 5px;
                margin: 10px;

                .contenedor-productos {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .contenedor-atributos {
        margin: 0px;
        border-radius: 0;
        border: 0px;
    }
}