<!--Codigo HTML del componente-->
<div class="container-principal">
    <app-menu></app-menu>

    <div class="text-bienvenida">
        <h2>Sus compras en el mejor lugar</h2>
        <img src="https://i.pinimg.com/564x/f2/b9/87/f2b9874c4adae66d0dc58743d33c1130.jpg" alt="">
    </div>

    <div *ngFor="let detalle of productos" class="producto-container">
        <div class="imagen-container">
            <img [src]="detalle.producto.imagen" alt="">
        </div>
        <div class="producto">
            <div class="nombre-producto">
                <h2>{{detalle.producto.nombre}}</h2>
            </div>
            <div class="producto-descripcion">
                <div class="descripcion">
                    <b>Descripcion:</b>
                    <p>{{detalle.producto.caracteristicas}}</p>
                </div>
                <div class="cantidad"><b>Cantidad:</b> {{detalle.cantidad}}</div>
                <div class="precio"><b>Precio del producto:</b> ${{detalle.precio}}</div>
                <div class="subtotal"><b>Subtotal:</b> ${{detalle.subtotal}}</div>
                <div class="total"><b>Total + iva:</b> ${{detalle.total}}</div>
            </div>
            <div class="btn-eliminar-prodcuto">
                <button (click)="eliminarProducto(detalle.producto.codigo)">Eliminar producto</button>
            </div>
        </div>
    </div>
    
    <div class="btns">
        <button (click)="comprar()">Comprar</button>
        <button (click)="irAproductos()">Más productos</button>
    </div>

    <app-footer></app-footer>
</div>