<div class="contaned">
    <app-menu></app-menu>

    <div class="text-bienvenida">
        <h2>Sus compras en el mejor lugar</h2>
        <img src="https://i.pinimg.com/736x/5d/5c/f0/5d5cf057fc5dbb722b059598e3f74140.jpg" alt="">
    </div>

    <div class="productos-add">
        <h2>Zapatos Vans</h2>
        <div class="producto">
            <img src="https://i.pinimg.com/564x/58/68/dd/5868dd6d549714b426835b9ee21149c6.jpg" alt="">
            <div class="producto-descripcion">
                <div class="descripcion">
                    <b>Descripcion:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Atque, dolore libero obcaecati totam natus fugit doloribus
                    ipsum dolorum minus esse corrupti ipsam dicta sunt nesciunt
                    nostrum, impedit aspernatur inventore expedita.
                </div>

                <div class="cantidad"><b>Cantidad:</b> 1</div>
                <div class="precio"><b>Precio:</b> $15.15</div>
                <div class="subtotal"><b>Subtotal:</b> $16.00</div>
                <div class="total"><b>Total:</b> $16.00</div>
            </div>
        </div>
    </div>
            
    <div class="btns">
        <button>Comprar</button>
        <button (click)="irAproductos()">Más productos</button>
    </div>

    <app-footer></app-footer>
</div>