<app-menu></app-menu>
<div class="contenedor-principal">

    <div class="contenedor-clientes">
        <div class="contenedor-form-client">
            <h1>Clientes</h1>
            <form action="">
                <tr>
                    <td>DNI</td>
                    <td><input type="text" name="txtDNI" [(ngModel)]="cli.dni"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="txtNombre" [(ngModel)]="cli.nombre"></td>
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td><input type="text" name="txtDireccion" [(ngModel)]="cli.direccion"></td>
                </tr>

                <button (click)="guardar()" *ngIf="mostrarBotonGuardar">Guardar</button>
                <button (click)="cancelar()" *ngIf="mostrarBotonCancelar">Cancelar</button>
                <button (click)="actualizar()" *ngIf="mostrarBotonActualizar">Actualizar</button>
            </form>
        </div>

        <div class="contenedor-tabla">
            <table>
                <tr>
                    <th>Codigo</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th></th>
                </tr>

                <tr *ngFor="let cli of clientes | async">
                    <td>{{cli.codigo}}</td>
                    <td>{{cli.dni}}</td>
                    <td>{{cli.nombre}}</td>
                    <td>{{cli.direccion}}</td>
                    <td><button class="btn-eliminar" (click)="eliminar(cli.codigo)">Eliminar</button>
                        <button class="btn-editar" (click)="editar(cli)">Editar</button>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="contenedor-facturas">
        <div class="contenedor-form-factura">
            <h1>Facturas</h1>
            <form action="">
                <tr>
                    <td>Numero de Factura</td>
                    <td><input type="text" name="txtDNI" [(ngModel)]="fac.numero"></td>
                </tr>
                <tr>
                    <td>Cliente</td>
                    <select name="cliente" id="" [(ngModel)]="fac.cliente" (ngModelChange)="fac.cliente = $event">
                        <option value="" [disabled]="'Seleccionar'">Seleccionar</option>
                        <option value="" *ngFor="let c of clientes | async" [ngValue]="c">{{c.dni}}</option>
                    </select>
                </tr>

                <div class="total">
                    
                </div>

                <tr>
                    <td>Fecha de emision</td>
                    <td><input type="date" name="txtDireccion" [(ngModel)]="fac.fechaEmision"></td>
                </tr>

            </form>
        </div>



        <div class="contenedor-detalles">
            <div class="contenedor-form-detalle">
                <h1>Detalles</h1>
                <form action="">
                    <tr>
                        <td>Nombre</td>
                        <td><input type="text" name="txtDNI" [(ngModel)]="det.nombre"></td>
                    </tr>
                    <tr>
                        <td>Cantidad</td>
                        <td><input type="number" name="txtDireccion" [(ngModel)]="det.cantidad"></td>
                    </tr>

                    <tr>
                        <td>Precio</td>
                        <td><input type="number" name="txtDireccion" [(ngModel)]="det.precio"></td>
                    </tr>

                    <button (click)="guardarDet()">Guardar</button>

                    <!--button (click)="guardarDetalle()" *ngIf="mostrarBotonGuardar">Guardar</!--button-->
                </form>
            </div>

            <div class="contenedor-tabla">
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>

                    <tr *ngFor="let d of detalles">
                        <td>{{d.nombre}}</td>
                        <td>{{d.cantidad}}</td>
                        <td>{{d.precio}}</td>
                    </tr>
                </table>
            </div>

            <div class="contenedor-tabla">

                <button (click)="guardarFactura()" *ngIf="mostrarBotonGuardar">Crear Factura</button>

                <h2>Facturas Creadas</h2>
                <table>
                    <tr>
                        <th>Codigo</th>
                        <th>Numero de Factura</th>
                        <th>Cliente</th>
                        <th>Total</th>
                        <th>Fecha de Emision</th>
                        <th>Detalle</th>
                    </tr>

                    <tr *ngFor="let fact of facturas | async">
                        <td>{{fact.codigo}}</td>
                        <td>{{fact.numero}}</td>
                        <td>{{fact.cliente.nombre}}</td>
                        <td>${{calcularTotal(fact)}}</td>
                        <td>{{fact.fechaEmision}}</td>
                        <td>
                            <ul *ngFor="let det of fact.detalles">
                                <li >
                                    {{det.nombre}}
                                </li>
                                Precio: ${{det.precio}}
                                Cantidad: {{det.cantidad}}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>