<app-menu></app-menu>
<div class="contenedor-principal">
    <h1>Clientes</h1>

    <div class="contenedor-form">
        <form action="">
                <tr>
                    <td>Codigo</td>
                    <td><input type="number" name="txtCodigo" [(ngModel)]="client.codigo"></td>
                </tr>
                <tr>
                    <td>DNI</td>
                    <td><input type="text" name="txtDNI" [(ngModel)]="client.dni"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="txtNombre" [(ngModel)]="client.nombre"></td>
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td><input type="text" name="txtDireccion" [(ngModel)]="client.direccion"></td>
                </tr>

            <button (click)="guardar()" *ngIf="mostrarBotonGuardar">Guardar</button>
            <button (click)="cancelar()" *ngIf="mostrarBotonCancelar">Cancelar</button>
            <button (click)="actualizar()" *ngIf="mostrarBotonActualizar">Actualizar</button>
        </form>
    </div>

    <div class="contenedor-tabla">
        <table>
            <tr>
                <th>Codigo</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th></th>
            </tr>

            <tr *ngFor="let cli of clientes | async">
                <td>{{cli.codigo}}</td>
                <td>{{cli.dni}}</td>
                <td>{{cli.nombre}}</td>
                <td>{{cli.direccion}}</td>
                <td><button class="btn-eliminar" (click)="eliminar(cli.codigo)">Eliminar</button>
                    <button class="btn-editar" (click)="editar(cli)">Editar</button>
                </td>
                
            </tr>
        </table>
    </div>
</div>
<app-footer></app-footer>